body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #111;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 0 15px gold;
}

.nav-links a,
button {
  margin-left: 15px;
  color: white;
  text-decoration: none;
}

.hero {
  padding: 60px;
}

.badge {
  color: gold;
}

.btn-secondary {
  background: gold;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
}

.contract-box {
  margin-top: 20px;
}
